{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Wodore</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon-32x32.png' %}" />
    {% comment %} <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/images/favicon-96x96.png' %}" /> {% endcomment %}
    {% comment %} <link rel="icon" type="image/png" sizes="128x128" href="{% static 'main/images/favicon-128x128.png' %}" /> {% endcomment %}
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
      </p>
    <![endif]-->
      <div class="wodore-nav">
        <a href="/admin">Admin</a> |
        <a href="/v1/docs">Docs</a> |
        <a href="https://wodo.re">Frontend</a>
      </div>
    <div class="wodore-body">
      <div class="wodore-logo">
        <a href="https://wodo.re">
          <img src="{% static 'main/images/logos/header_img.png' %}" alt="" />
        </a>
        <div style="min-height: 100px"></div>
      </div>
    </div>
  </body>
</html>
