body {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.wemake-services-body {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wemake-services-logo {
  max-width: 250px;
  margin: 0 auto;
}

.github-corner img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(-45deg);
}