body {
  text-align: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 40%,
    rgba(183, 183, 183, 1) 96%
  );
}

img {
  max-width: 100%;
  height: auto;
}

.wodore-body {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wodore-logo {
  max-width: 350px;
  margin: 0 auto;
}

.wodore-nav {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin: 20px;
  margin-right: 30px;
  font-size: 17pt;
  font-family: sans-serif;
}
.wodore-nav a:active,
.wodore-nav a:visited,
.wodore-nav a:hover,
.wodore-nav a:link,
.wodore-nav a {
  color: rgb(7, 0, 50);
  text-decoration: underline dotted;
  text-decoration-color: rgb(0, 0, 83);
}

.github-corner img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #ee8e4a;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
}
