{% extends 'admin/base.html' %}
{% load unfold i18n static %}
{% block header %}
    {{ block.super }}
{% endblock %} 

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon-32x32.png' %}" />
    {% comment %} <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/images/favicon-96x96.png' %}" /> {% endcomment %}
    {% comment %} <link rel="icon" type="image/png" sizes="128x128" href="{% static 'main/images/favicon-128x128.png' %}" /> {% endcomment %}
{% endblock %}

{% block nav-global-side %}

    {{ block.super }}
{% comment %} <div class="flex flex-row group items-center leading-none relative">
  <div class="flex gap-4 items-center">{% include "admin/lang_switch.html" %}</div>
</div> {% endcomment %}
{% endblock %}
