{% load i18n %} {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %}
<form action="{% url 'set_language' %}" method="post" x-ref="langForm" x-data="{ langSelect: '{{LANGUAGE_CODE}}' }">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  <input name="language" type="hidden" x-bind:value="langSelect" />
  {% get_language_info_list for LANGUAGES as languages %}
  <div class="relative" x-data="{ openLang: false}">
    <a
      class="block pl-4 cursor-pointer leading-none hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200"
      x-on:click="openLang = !openLang"
    >
      <span class="material-symbols-outlined">
        <span x-text="'language'"></span>
      </span>
    </a>

    <nav
      class="absolute bg-white border flex flex-col leading-none overflow-hidden py-1 -right-2 rounded shadow-lg text-sm text-gray-500 top-7 w-40 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
      x-cloak
      x-show="openLang"
      @click.outside="openLang = false"
    >
      {% for language in languages %}
      <a
        class="cursor-pointer flex flex-row leading-none mx-1 px-3 py-1.5 rounded hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-200"
        @click="langSelect = '{{language.code}}'"
        @click.debounce(1)="langSelect = '{{language.code}}';$refs.langForm.submit()"
        x-bind:class="langSelect == '{{language.code}}' && 'text-primary-600 dark:text-primary-500 dark:hover:!text-primary-500 hover:!text-primary-600'"
      >
        <!--<span class="material-symbols-outlined mr-2">language.code</span>-->
        <span class="mr-2">{{language.code.upper}}</span>
        <span class="leading-none self-center">{{ language.name_local.title }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
</form>
